@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 0 0% 99%;
    --foreground: 222 67% 15%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222 67% 15%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 220 97% 48%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.25rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;

    --header-height: 96px;

    @media (max-width: 768px) {
      --header-height: 80px;
    }

    --header-color: var(--foreground);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col overscroll-none;
  }
}

@layer components {
  .section-badge {
    @apply text-center md:text-left highlight text-sm mb-1;
  }

  .section-title {
    @apply text-center md:text-left text-2xl md:text-4xl font-semibold max-w-[256px] md:max-w-xs text-balance mb-2 leading-tight;
  }
}

@layer utilities {
  .highlight {
    font-family: var(--font-pp-eiko);
    font-style: italic;
    font-weight: 300;
  }
}

.line-split-animation {
  overflow: hidden;
  display: block;
  opacity: 0;
  text-wrap: wrap;
}

.instagram-carousel-track {
  display: flex;
  animation: infinite-scroll 30s linear infinite;
  width: fit-content;
}

.testimonials-carousel-track {
  display: flex;
  animation: infinite-scroll 30s linear infinite;
  width: fit-content;
}

.values-carousel-track {
  display: flex;
  animation: infinite-scroll 30s linear infinite;
  width: fit-content;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
